* {
	box-sizing: border-box;
	font-family: helvetica;
}

h1 {
	clear: both;
	margin-bottom: 15px;
	color: blue;
	text-align: center;
}

.lorem {
	width: 90%;
	float: left;
	text-align: right;
	float: left;
	background-color: lightgrey;
	border: 3px black solid;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.food {
	width: 25%;
	position: relative;
	left: 75%;
	text-align: center;
	border: 2px black solid;
}

#container {
	width: 100%;
}

div {
	position: relative;
}

@media (min-width: 992px) {
	.lorem {
		width: 33.3%;
	}
	.food {
		width: 25%;
	}
}
