* {
	box-sizing: border-box;
	font-family: helvetica;
}

h1 {
	clear: both;
	margin-bottom: 15px;
	color: blue;
	text-align: center;
}

.beef {
	background-color: #B3E5FC;
	color: black;
}

.sushi > .sushi {
	background-color: #01579B;
	color: white;
}

.chicken {
	background-color: white;
	color: #01579B;
}

.row {
	width: 100%;
}

.column {
	padding: 5px;
	float: left;
}

.container {
	width: 100%;
	text-align: left;
	float: left;
	background-color: lightgrey;
	border: 3px black solid;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.food {
	width: 25%;
	padding: 0px;
	position: absolute;
	top: -2px;
	right: -2px;
	text-align: center;
	border: 2px black solid;
}

div {
	position: relative;
}

@media (min-width: 992px) {
	.column {
		width: 33.3%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.column {
		width: 50%;
	}

	.container > .sushi {
		left: 87.5%;
		width: 12.5%;
	}

	.row .column:nth-child(3){
		width: 100%;
	}


}